@import "tailwindcss";

@theme {
  --animate-rect1Anim: rect1Anim 1s ease-in-out infinite alternate;
  --animate-rect2Anim: rect2Anim .5s ease-in-out infinite alternate;
  --animate-rect3Anim: rect3Anim .2s ease-in-out infinite alternate;
}

@keyframes rect1Anim {
  100% { height: 10px; }
  0% { height: 2px; }
}

@keyframes rect2Anim {
  0% { height: 2px; }
  100% { height: 10px; }
}

@keyframes rect3Anim {
  0% { height: 7px; }
  100% { height: 3px; }
}


/* Apply Work Sans to the entire body */
body {
  font-family: "Work Sans", sans-serif;
}

/* Use Space Grotesk for headings and major titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

.loader {
  position: relative;
  border-style: solid;
  box-sizing: border-box;
  border-width: 40px 60px 30px 60px;
  border-color: #ff6ec4 #00dbde #01dbde #02dbde;
  animation: envFloating 1s ease-in infinite alternate;
}

.loader:after{
  content:"";
  position: absolute;
  right: 62px;
  top: -40px;
  height: 70px;
  width: 50px;
  background-image:
            linear-gradient(#fff 45px, transparent 0),
            linear-gradient(#fff 45px, transparent 0),
            linear-gradient(#fff 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0px 11px , 8px 35px, 0px 60px;
  animation: envDropping 0.75s linear infinite;
}

@keyframes envFloating {
  0% { transform: translate(-2px, -5px)}
  100% { transform: translate(0, 5px)}
}

@keyframes envDropping {
  0% {background-position: 100px 11px , 115px 35px, 105px 60px; opacity: 1;}
  50% {background-position: 0px 11px , 20px 35px, 5px 60px; }
  60% {background-position: -30px 11px , 0px 35px, -10px 60px; }
  75%, 100% {background-position: -30px 11px , -30px 35px, -30px 60px; opacity: 0;}
}
      
